@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
body {
  font-family : 'Nanum Gothic';
}

header {
  background-color: black;
  height: 30px;
  padding: 20px;
}

header * {
  color: white;
  font-size: 16pt;
}

header .left-box{
  float: left;
}
header .right-box{
  float: right;
}

.link-button-list{
  display: flex;
  margin: 0;
  padding: 0;
}

.link-button{
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
}
.link-button a {
  text-decoration: none;
  padding: 10px;
}
.link-button a:hover {
  border-bottom: 2px solid;
}
